.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.header__title {
  font-family: futura-pt,FuturaStd,Helvetica,Arial,sans-serif;
  font-size: 60px;
  line-height: 60px;
  letter-spacing: 2.8px;
  font-weight: 700;
  color: #2d2d2d;
  font-size: 46px;
  line-height: 46px;
  letter-spacing: 1.5px;
  text-transform: none;
  text-align: center;
  margin: 0 auto 5px auto;
  overflow: hidden;
  display: inline;
}

.paragraphs {
  font-family: futura-pt,FuturaStd,Helvetica,Arial,sans-serif;
  font-size: 18px;
  line-height: 20px;
  letter-spacing: 0.5px;
  color: #2d2d2d;
  font-weight: 400;
  line-height: 24px;
  margin: 0 auto;
  letter-spacing: 0.6px;
  max-width: 680px;
}

.imagewho {
  display: block;
  width: auto;
  max-width: 45%;
  height: auto;
  margin: 0 auto;
}

